*{
    font-family: 'Noto Sans JP', sans-serif;

}
.section{
    float: left;
    width: 100%;
}
#logo{
    width: 355px;
    height: auto;

}
.icons{
    font-size: 22px;

}

a{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #b77b59;
    background-color: transparent;
    text-decoration: none;
}